.header.zindex20, .left-side, .right-side, .footer, .hist, .zagolovok, #qrdiv, .view_print {
   display: none !important;
}

.content {
   padding: 0 !important;
   padding-left: 0 !important;
}

.sch_search {
    width: 320px !important;
}
.sch_search input[type="submit"] {
     background-color: #DA5525 !important;
     border: 0px solid #000 !important;
     color: #fff !important;
     margin: 10px 8px 15px 15px !important;
     float: right;
}

.content {
    font-size: 28px;
}

.middle {
    line-height: 36px;
}

.sch_search p {
    font-size: 20px !important;
}

.sch_view li {
    float: left  !important;
    font-size: 90%  !important;
}

.content ul {
    margin-left: 0px !important;
}

p[style*="text-align: right; font-style: italic; font-size: 80%;"] {
    display: none;
}