.gray-line, .white-line, #topmenu, .footer-line, .crumbs, .zagolovok, #qrdiv {
   display: none !important;
}

body {
    background: none !important;
}

.cont-0 {
    background-image: none;
}

a {
    color: #e13e04 !important;
    text-decoration: underline;
}

p[style*="text-align: right; font-style: italic; font-size: 80%;"] {
    display: none;
}

.sch_view {
    -webkit-padding-start: 0px !important;
}

.sch_view li {
    float: left  !important;
}

.sch_search input[type="submit"] {
     background-color: #ff865a !important;
     color: #fff !important;
     border: none !important;
}

.sch_search input[type="text" ] {
    width: 70% !important;
}

